body {
  background-color: #E3F2FD;
}

h1 {
  color: #fff;
  background-color: #5372F0;
  font-size: 1.75rem;
  text-align: center;
  padding: 18px;
}

.container {
  display: flex;
  gap: 55px;
}

.weather-input {
  width: 650px;
}

.weather-input input {
  width: 100%;
  height: 45px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.weather-input button {
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #5372F0;
}

.weather-input .location-btn {
  background-color: rgb(107, 105, 102);
}

.weather-input .separator {
  height: 1px;
  width: 100%;
  margin: 15px 0;
  background-color: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-input .separator::before {
  content: "or";
  color: #6C757D;
  font-size: 1.18rem;
  padding: 0 15px;
  background: #E3F2Fd;
}

.weather-data {
  width: 100%;
}

.current-weather {
  color: #fff;
  display: flex;
  padding: 20px 70px 20px 20px;
  background: #5372F0;
  justify-content: space-between;
}

.current-weather h2 {
  font-size: 1.7rem;
}

.current-weather h4 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}

.current-weather .icon{
  padding-left: 150px;

}

.current-weather .icon image{
  max-width: 120px;
}

.current-weather .icon h4{
  margin-top: -20px;
  text-transform: capitalize;
  text-align: center;
}

.days-forecast h2{
  font-size: 1.5rem;
  margin: 20px 0;
}

.days-forecast .weather-card{
  display: flex;
  gap: 20px;
}

.days-forecast .weather-card .card{
  list-style-type: none;
  color: #fff;
  padding: 18px 16px;
  background: #6C757D;
  border-radius: 5px;
}

.weather-card .card img{
  max-width: 70px;
  margin: 5px 0px -12px 0;
}

/* Adding this media query code to make responsive */
@media (max-width: 1400px){
  .weather-data .current-weather{
    padding: 20px;
  }
  .weather-card{
    flex-wrap: wrap;
  }
  .weather-card .card{
    width: calc(100%/4-15px);
  }
}

@media (max-width: 1200px){
  .weather-card .card{
    width: calc(100%/3 -15px);
  }
}

@media (max-width: 950px){
  .weather-input{
    width: 450px;
  }
  .weather-card .card{
    width: calc(100%/2 -10px);
  }
}


@media (max-width: 750px){
  .container{
    flex-wrap: wrap;
    padding: 15px;
  }
  .weather-input{
    width: 100%;
  }
}


